<div class="row justify-content-center">
  <div class="col-md-10 rounded shadow-lg p-0">
    <div class="comment-wrapper">
      <div class="panel panel-info">
        <div class="panel-body scrollable-content">
          <ul class="media-list">
            <li class="media p-3" *ngFor="let i of users">
              <span class="pull-left">
                <img
                  class="img-circle"
                  src="https://bootdey.com/img/Content/user_1.jpg"
                  alt="user-photo"
                />
              </span>
              <div class="media-body pl-3">
                <span class="pull-right">
                  <small class="text-muted">30 min ago</small>
                </span>
                <strong class="text-primary">FirstName LastName</strong>
                <br />
                <strong>Learning: English</strong>

                <p>Lessons: 11</p>
                <p>Lessons: 11</p>
                <br />
                <small>
                  Asadasd asd ashdkjsah dashd sadsgd agd asdas dfashd fashdasd
                  asdfa shdas dghasf dhsa ahdh aksdhkajs hdkahkjah kahd
                  kahdkadhakshdqıhd had kahdjhq hdwıuh daskdh kd
                </small>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
